<div class="container-fluid no-padding">
  <div class="row no-margin">
    <div class="main-header ">
      <div class="header">
        <img src="../../assets/images/ETP_white_logo.svg" alt="">
        <nav class="nav">
          <ul class="nav_list">
            <li> <a href="#"> Ordazzle Wiki</a></li>
            <li> <a href="https://www.etpgroup.com/" target="_blank"> Go To etpgroup.com <i class="fa fa-external-link" aria-hidden="true"></i></a> </li>
            <li> <a href="https://www.etpgroup.com/contact/" target="_blank"> Contact Us </a> </li>

          </ul>
        </nav>
      </div>
      <div class="search-section">
        <input type="text"  name="searchcharge" id="searchcharge"
        [placeholder]="'Search for answers'" autocomplete="off" class="form-control table-search-box" />
      </div>
    </div>
  </div>
</div>
