<h1 style="margin-top: 20px;">Carrier Integration</h1>

<div class="img-sec" style="margin-top: 10px;">
  <img src="../../../assets/images/adminstrationemailserverconfig.png" alt="connection" class="img-responsive">
</div>
<div class="youtube-frame" style="margin-top: 20px; margin-bottom: 30px;">
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/Yc1wYc-vEuI" frameborder="0" allowfullscreen></iframe>
</div>
<div class="link-section">
  <ul class="ui-link-sec" style="margin-bottom: 30px;">
    <li> <a routerLink = "/channelintegration">Channel Integration</a> </li>
    <li> <a routerLink = "/ecommorceintegration">e-Commerce Integration </a> </li>
    <li> <a routerLink = "/datasynchschedule">Data Sync schedule </a> </li>


  </ul>
</div>
