
      <div class="panel-group" id="accordion7401210" role="tablist" aria-multiselectable="false">
         <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading4122173">
               <h5 class="panel-title">
                  <a role="button" data-toggle="collapse"  class="accordion-plus-toggle collapsed" data-parent="#accordion4401210"  href="#collapse4122173"  aria-expanded="false" aria-controls="collapse4122173">Dash Board</a>
               </h5>
            </div>
           
         </div>

        <div class="panel panel-default">
         <div class="panel-heading" role="tab" id="heading8122173">
            <h5 class="panel-title">
               <a role="button" data-toggle="collapse"  class="accordion-plus-toggle collapsed" data-parent="#accordion7401210"  href="#collapse8122173"  aria-expanded="false" aria-controls="collapse8122173">Connections</a>
            </h5>
         </div>
         <div id="collapse8122173" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8122173">
            <div class="panel-body"> <a routerLink = "connection/channelintegration">Channel Integration</a> </div>
            <div class="panel-body"> <a routerLink = "connection/carrierintegration">Carrier Integration</a> </div>
            <div class="panel-body"> <a routerLink = "connection/e-commerceintegration">e-Commerce Integration</a> </div>
            <div class="panel-body"> <a routerLink = "connection/datasyncsehedule">Data Sync schedule</a> </div>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading" role="tab" id="heading412391">
            <h5 class="panel-title">
               <a role="button" data-toggle="collapse" class="accordion-plus-toggle collapsed" data-parent="#accordion7401210"  href="#collapse412391"  aria-expanded="false" aria-controls="collapse411391">Order Management</a>
            </h5>
         </div>
         <div id="collapse412391" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading412391">
            <div class="panel-body"> <a routerLink="ordermanagements/orderdashboard">Order Dashboard</a> </div>
            <div class="panel-body"> <a routerLink="ordermanagements/ordermanagement">Order Management Processing</a> </div>
            <div class="panel-body"> <a routerLink="ordermanagements/manifest">Manifest</a> </div>
            <div class="panel-body"> <a routerLink="ordermanagements/ordercancellation">Order Cancellation</a> </div>
            <div class="panel-body"> <a routerLink="ordermanagements/salesreturn">Sales Return</a> </div>
            <div class="panel-body"> <a routerLink="ordermanagements/orderreceivingrule">Order Rules</a> </div>
            <div class="panel-body"> <a routerLink="ordermanagements/orderallocationrule">Order Allocation Rule</a> </div>
            <div class="panel-body"> <a routerLink="ordermanagements/returnrequestrule">Return Request Rule</a> </div>
            <div class="panel-body"> <a routerLink="ordermanagements/payment-reco-statementofaccount">Payment Reco- Statement of Account</a> </div>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading" role="tab" id="heading2183417">
            <h5 class="panel-title">
               <a role="button" data-toggle="collapse" class="accordion-plus-toggle collapsed" data-parent="#accordion7401211"  href="#collapse2183417"  aria-expanded="false" aria-controls="collapse2183417">Products</a>
            </h5>
         </div>
         <div id="collapse2183417" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2183417">
            <div class="panel-body"> <a routerLink="products/productcatalog">Product Catalog</a> </div>
            <div class="panel-body"> <a routerLink="products/productmaster">Product Master</a> </div>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading" role="tab" id="heading8822873">
            <h5 class="panel-title">
               <a role="button" data-toggle="collapse" class="accordion-plus-toggle collapsed" data-parent="#accordion7801210"  href="#collapse8822873"  aria-expanded="false" aria-controls="collapse8822873">Stock Management</a>
            </h5>
         </div>
         <div id="collapse8822873" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8822873">
            <div class="panel-body"> <a routerLink = "stockmanagement/stockin-stockout">Stock In/Stock Out</a> </div>
            <div class="panel-body"> <a routerLink = "stockmanagement/stockview">Stock View</a> </div>
            <div class="panel-body"> <a routerLink = "stockmanagement/fulfillnodesetup">Fulfillment Node Setup</a> </div>
            <div class="panel-body"> <a routerLink = "stockmanagement/locationmaster">Location Master</a> </div>
            <div class="panel-body"> <a routerLink = "stockmanagement/pincodemaster">Pin Code Master</a> </div>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading" role="tab" id="heading8522873">
            <h5 class="panel-title">
               <a role="button" data-toggle="collapse" class="accordion-plus-toggle collapsed" data-parent="#accordion7501210"  href="#collapse8522873"  aria-expanded="false" aria-controls="collapse8522873">Administration</a>
            </h5>
         </div>
         <div id="collapse8522873" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8522873">
            <div class="panel-body"> <a routerLink = "administration/usermanagement">User Management</a> </div>
            <div class="panel-body"> <a routerLink = "administration/companysetup">Company Setup</a> </div>
            <div class="panel-body"> <a routerLink = "administration/commonmasters">Common Masters</a> </div>
            <div class="panel-body"> <a routerLink = "administration/tagmaster">Tag Masters</a> </div>
            <div class="panel-body"> <a routerLink = "administration/batchjobscheduler">Batch Job Scheduler</a> </div>
            <div class="panel-body"> <a routerLink = "administration/emailserverconfiguration">Email Server Configuration</a> </div>
            <div class="panel-body"> <a routerLink = "administration/emailtemplateconfiguration">Email Template Configuration</a> </div>
            <div class="panel-body"> <a routerLink = "administration/smsserverconfiguration">SMS server Configuration</a> </div>
            <div class="panel-body"> <a routerLink = "administration/smstemplateconfiguration">SMS Template Configuration</a> </div>
            <div class="panel-body"> <a routerLink = "administration/servicedashboard">Service Dashboard</a> </div>
            <div class="panel-body"> <a routerLink = "administration/servicelog">Service log</a> </div>
            <div class="panel-body"> <a routerLink = "administration/reasonmaster">Reason Master</a> </div>
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading" role="tab" id="heading1822873">
            <h5 class="panel-title">
               <a role="button" data-toggle="collapse" class="accordion-plus-toggle collapsed" data-parent="#accordion1801210"  href="#collapse1822873"  aria-expanded="false" aria-controls="collapse1822873">Promotion</a>
            </h5>
         </div>
         <div id="collapse1822873" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1822873">
            <div class="panel-body"> <a routerLink = "promotion/promotionreservaation">Promotion & Reservation</a> </div>
            
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading" role="tab" id="heading2822873">
            <h5 class="panel-title">
               <a role="button" data-toggle="collapse" class="accordion-plus-toggle collapsed" data-parent="#accordion2801210"  href="#collapse2822873"  aria-expanded="false" aria-controls="collapse2822873">Reports</a>
            </h5>
         </div>
         <div id="collapse2822873" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2822873">
            <div class="panel-body"> <a routerLink = "promotion/promotionreservaation">Promotion & Reservation</a> </div>
            
         </div>
      </div>
      <div class="panel panel-default">
         <div class="panel-heading" role="tab" id="heading3822873">
            <h5 class="panel-title">
               <a role="button" data-toggle="collapse" class="accordion-plus-toggle collapsed" data-parent="#accordion3801210"  href="#collapse3822873"  aria-expanded="false" aria-controls="collapse3822873">API Management</a>
            </h5>
         </div>
         <div id="collapse3822873" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3822873">
            
            
               <div class="panel-body"> <a routerLink = "apimanagement/apilist">User Management</a> </div>
               <div class="panel-body"> <a routerLink = "apimanagement/servicedashboard">Service Dashboard</a> </div>
               <div class="panel-body"> <a routerLink = "apimanagement/managegateway">Manage Gateway</a> </div>
               
               
            
            
         </div>
      </div>
       
      </div>

